@import './src/scss/variables';

.popupShow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;

  .fon {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    cursor: pointer;
  }

  .popup {
    width: 100%;
    z-index: 120;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 67px 70px;
    max-width: calc(1200px - 140px);
    font-size: 32px;
    line-height: 120%;

    @include _350 {
      display: block;
      margin: 0 20px;
      width: auto;
      font-size: 21px;
      line-height: 115%;
    }

    @include _768 {
      display: flex;
      margin: auto;
      width: 75%;
      font-size: 32px;
      line-height: 120%;
    }

    @include _1170 {
      width: 80%;
    }

    & .close {
      position: absolute;
      right: 0;
      top: -85px;
      cursor: pointer;
      z-index: 5;

      @include _350 {
        position: fixed;
        right: 20px;
        top: 20px;
      }

      @include _768 {
        position: absolute;
        right: 0;
        top: -85px;
      }

    }

    & .img {
      padding-right: 65px;

      @include _350 {
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        top: -100px;
      }

      @include _768 {
        position: relative;
        width: auto;
        text-align: center;
        left: auto;
        top: auto;
      }

    }

    & h1 {
      font-size: 58px;
      line-height: 71px;
      color: #1B352F;
      font-family: ProximanovaBlack, serif;

      @include _350 {
        font-size: 28px;
        line-height: 110%;
        margin-bottom: 15px;
      }

      @include _768 {
        font-size: 58px;
        line-height: 71px;
        margin-bottom: auto;
      }

    }

    & .text {
      padding-top: 40px;
      text-align: center;

      @include _768 {
        padding-top: 0px;
        text-align: left;
      }

      @include _1170 {
        padding-top: 40px;
        text-align: left;
      }

    }

  }
}
